@import 'backgroundImage_base64.scss';

body {
  background: transparent !important;
  margin: auto auto !important;
  padding: 0;
  height: auto;
  font-family: sans-serif;
}
html {
  background-image: $backgroundImage;
  background-size: calc (cover);
  height: 100%;
  display: flex;
  color: white !important;
}

.App {
  background: transparent;
}

a {
  color: darkblue !important;
}

.mainheader {
  .page-header {
    background-color: rgba(151, 151, 251, 0.7);
    font-size: 1.5rem;
    margin: 1rem 0;
    border: 0;
    border-radius: 3px;
  }

  .page-header h1 {
    padding: 1rem 0;
    margin: 0 0;
  }
}


.center {
  text-align: center;
}