.LoginPage {
  border-radius: 3px;
  background-color: rgba(151, 151, 251, 0.7);
  padding: 5rem 1rem;
  
  .form-control {
    width: 200px;
    margin: 1rem 1rem;
  }
}


.modal-dialog {
  display: flex;
  height: 100%;
}

.modal-content {
  margin: auto auto;
}