.PaymentControl {
  .form-group {
    white-space: nowrap;
    margin-bottom: 0px !important;
  }
  
  .form-control {
    display: inline-block;
    margin-right: 1rem;
    width: 200px;
  }
  
  .help-block {
    display: inline-block;
    font-size: 5rem;
    color: darkslateblue;
  }
  
  .btn {
    width: 200px;
  }
  
  input[type="text"] {
    padding: 0rem 1rem;
    height: 7rem;
    font-size: 5rem;
  }
  
  .averagePrice {
    margin-top: 5rem;
  }
}